#logo{
    width: 50px;
}
.loginbtn{
    position: fixed;
    top: 15px;
    right: 80px;
    padding: 8px;
    color: black;
    border-radius: 7px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.906);
    border-color: rgb(106, 106, 106);
    border-width: 20x;
    transition-duration: 0.3s;
}

#bgimg{
    position: relative;
    padding-top: 50px;
    height: auto;
    width: 100%; 
}
@media only screen and (max-width: 800px) {
    #bgimg{
        height: 65%;
        width: 155%;
        left: -10%;
    }
}

#cimg{
    position: relative;
    filter: brightness(50%);
}
